sync_paths:
  /home/isucon/webapp/ruby: xxx
remote_commands:
  path: /home/isucon/local/ruby/bin:$PATH
  setup:
  - cd webapp/ruby && (bundle check || bundle install)
  restart:
  - xxxxx
ssh:
  user: ubuntu
  identity_file: xxxxx
servers:
  - xxxx
