sync_paths:
  isucon1:
  - remote: /home/isucon/webapp/ruby
    local: remote/ruby
  - remote: /etc/nginx/nginx.conf
    local: webapp/nginx.conf
    root: true
remote_commands:
  setup:
  - cd webapp/ruby
  - (bundle check || bundle install)
  restart:
  - xxxxx
ssh:
  user: isucon
  identity_file: xxxxx
servers:
  isucon1: xxxx
